<div id="e-commerce-dashboard" class="page-layout simple fullwidth">

  <!-- CONTENT -->
  <div class="content p-24 w-100-p">

    <!-- WIDGET GROUP -->
    <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start" *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <!-- ALERTS BY CPU WIDGET -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByCpu.currentTimeRange"
                (change)="alertsByCpu.onChangeTimeRange($event.value)"
                aria-label="Change range">
                <mat-option *ngFor="let range of alertsByCpu.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{ 'DASHBOARD.MINI_WIDGET.ALERTS_BY_PROCESOR' | translate }}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{ 'DASHBOARD.MINI_WIDGET.DEVICES' | translate }} </span>
            <span class="h4 ml-8"> {{ alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].devicesCount }} </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].topDevices">
              <p [routerLink]="[item.deviceDetailLink]" >
                {{item.sn}} -- {{item.alarmsCount}}
              </p>
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent"
                [routerLink]="[alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].fullDevicesListLink]">
                 {{ 'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY CPU WIDGET -->

      <!-- ALERT BY RAM MEMORY -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByRamMemory.currentTimeRange"
              aria-label="Change range" (change)="alertsByRamMemory.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByRamMemory.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{'DASHBOARD.MINI_WIDGET.ALERTS_BY_RAM' | translate}}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{ 'DASHBOARD.MINI_WIDGET.DEVICES' | translate }} </span>
            <span class="h4 ml-8"> {{alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].devicesCount}} </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].topDevices">
              <p [routerLink]="[item.deviceDetailLink]" >
                {{item.sn}} -- {{item.alarmsCount}}
              </p>
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent"
                [routerLink]="[alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].fullDevicesListLink]">
                  {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERT BY RAM MEMORY -->

      <!-- ALERTS BY VOLTAGE WIDGET -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByVoltage.currentTimeRange"
                aria-label="Change range" (change)="alertsByVoltage.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByVoltage.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{'DASHBOARD.MINI_WIDGET.ALERTS_BY_VOLTAGE' | translate}}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{'DASHBOARD.MINI_WIDGET.DEVICES' | translate}} </span>
            <span class="h4 ml-8"> {{alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].devicesCount}} </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].topDevices">
              <p [routerLink]="[item.deviceDetailLink]" >
                {{item.sn}} -- {{item.alarmsCount}}
              </p>
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent"
                [routerLink]="[alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].fullDevicesListLink]">
                {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY VOLTAGE WIDGET -->

      <!-- ALERTS BY TEMPERATURE WIDGET -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByTemperature.currentTimeRange"
                aria-label="Change range" (change)="alertsByTemperature.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByTemperature.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{'DASHBOARD.MINI_WIDGET.ALERTS_BY_TEMPERATURE' | translate}}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{'DASHBOARD.MINI_WIDGET.DEVICES' | translate}} </span>
            <span class="h4 ml-8"> {{alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].devicesCount}} </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].topDevices">
              <p [routerLink]="[item.deviceDetailLink]" >
                {{item.sn}} -- {{item.alarmsCount}}
              </p>
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent"
                [routerLink]="[alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].fullDevicesListLink]">
                {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY TEMPERATURE WIDGET -->

      <!-- WIDGET 8 y 9 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" >

        <!-- Front WIDGET 8 -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <!-- header -->
          <div class="px-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
              <!-- text on header -->
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="95" fxLayoutWrap >
                <div class="h3 px-8 py-8">
                  <strong> {{'DASHBOARD.INFLUX_OF_USERS' | translate}} </strong>
                </div>
                <mat-form-field class="px-8 py-8">
                  <mat-select class="simplified font-size-16" [(ngModel)]="widget8.currentTimeRange"
                  (change)="widget8.onChangeTimeRange($event.value)" aria-label="Change range">
                    <mat-option *ngFor="let range of widget8.timeRanges | timeRangeKeys" [value]="range.index">
                      {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- ends text on header -->
              <!-- toggle Button -->
              <div fxLayoutAlign="end start" fxFlex="5">
                <button mat-icon-button fuseWidgetToggle aria-label="more"  >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
              <!-- end toggle Button -->
          </div>
          <!--end header -->
          <!-- chart -->
          <div class="h-420">
            <ngx-charts-advanced-pie-chart
              [results]="widget8.data"
              [label]="'DASHBOARD.TOTAL_USAGES' | translate "
              [scheme]="widget8.scheme" >
            </ngx-charts-advanced-pie-chart>
          </div>
          <!-- end chart -->
        </div>

        <!-- / Front -->

        <!-- Back WIDGET 9 -->
        <div class="fuse-widget-back mat-white-bg mat-elevation-z2">
          <div class="px-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
            <div class="h3 px-8 py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="75">
              <strong> {{'DASHBOARD.INFLUX_OF_USERS' | translate}} </strong>
            </div>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25">
                <mat-select class="simplified font-size-16" [(ngModel)]="widget9.currentTimeRange"
                (change)="widget9.onChangeTimeRange($event.value)" aria-label="Change range">
                  <mat-option *ngFor="let range of widget9.timeRanges | timeRangeKeys" [value]="range.index" >
                    {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                <mat-icon class="s-16">close</mat-icon>
            </button>
          </div>
          <div class="h-420">
            <ngx-charts-gauge
              [results]="widget9.timeRanges[widget9.currentTimeRange].data"
              [legendTitle]="'DASHBOARD.TOTAL_USAGES' | translate"
              [max]="widget9.max"
              [units]=" 'DASHBOARD.TOTAL_USAGES' | translate "
              [legend]="widget9.legend"
              [textValue]="widget9.textValue"
              [scheme]="widget9.scheme"
              (select)="widget9.toggleLegend()" >
            </ngx-charts-gauge>
          </div>
        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- WIDGET 8 y 9 -->


      <!-- WIDGET 5 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>

            <div fxFlex class="py-8 h2">
              <strong style="text-align: center; float: center"> {{'DASHBOARD.DEVICES_BY_CUENCA' | translate}} </strong>
            </div>

            <!-- <div fxFlex="0 1 auto" class="py-8" fxLayout="row">
              <button mat-button class="px-16" *ngFor="let range of widgets.widget5.ranges | keys" (click)="widget5.currentRange = range.key"
                [disabled]="widget5.currentRange == range.key">
                {{range.value}}
              </button>
            </div> -->
          </div>

          <div class="h-420">
            <ngx-charts-bar-vertical-stacked *fuseIfOnDom [scheme]="widget5.scheme"
              [results]="widget5.data"
              [barPadding]= "widget5.barPadding"
              [gradient]="widget5.gradient"
              [xAxis]="widget5.xAxis"
              [yAxis]="widget5.yAxis"
              [legend]="widget5.legend"
              [showXAxisLabel]="widget5.showXAxisLabel"
              [showYAxisLabel]="widget5.showYAxisLabel"
              [xAxisLabel]="widget5.xAxisLabel"
              [yAxisLabel]="'DASHBOARD.TOTAL_USAGES' | translate"
              (select)="widget5.onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
          </div>
        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 5 -->

      <!-- WIDGET 6 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
            <div class="h3 px-8 py-8 txt-a-center" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="75">
              <strong> {{ 'DASHBOARD.USAGES_VS_ERRORS' | translate }} </strong>
            </div>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25" >
              <mat-select class="simplified" [(ngModel)]="widget6.currentTimeRange" (change)="widget6.onRangeChanged($event.value)" aria-label="Change range">
                <mat-option *ngFor="let range of widget6.timeRanges | keys" [value]="range">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="h-400">
            <canvas baseChart [datasets]="widget6.datasets" [labels]="widget6.labels" [colors]="widget6.colors" [options]="widget6.options"
              [chartType]="widget6.chartType">
            </canvas>
          </div>

          <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0"> {{ 'DASHBOARD.USAGES' | translate }} </span>
              <span class="h4"> {{ widget6.usagesCount | async}} </span>
            </div>

            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0">{{'DASHBOARD.ERRORS' | translate}}</span>
              <span class="h4">{{widget6.errorsCount | async}}</span>
            </div>
          </div>

        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 6 -->

      <!-- WIDGET 7 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
            <div class="h3 px-8 py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <strong> {{'DASHBOARD.USAGES_VS_ERRORS_by' | translate}} </strong>
            </div>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25" >
              <mat-select class="simplified" [(ngModel)]="widget7.currentCuenca"
                (change)="widget7.onCuencaFilterChanged($event.value)"
                aria-label="Change range">
                <mat-option *ngFor="let range of widget7.cuencas | cuencaKeys" [value]="range.index">
                  {{range.value}}
                </mat-option>
              </mat-select>

            </mat-form-field>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25"  >
              <mat-select class="simplified" [(ngModel)]="widget7.currentTimeRange" (change)="widget7.onTimeRangeFilterChanged($event.value)"
                aria-label="Change range">
                <mat-option *ngFor="let range of widget7.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="h-400">
            <canvas baseChart [datasets]="widget7.datasets" [labels]="widget7.labels"
            [colors]="widget7.colors" [options]="widget7.options" [chartType]="widget7.chartType">
            </canvas>
          </div>

          <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0"> {{ 'DASHBOARD.USAGES' | translate }} </span>
              <span class="h4"> {{ widget7.datasets[1].total }} </span>
            </div>

            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0">{{ 'DASHBOARD.ERRORS' | translate }}</span>
              <span class="h4"> {{ widget7.datasets[0].total }} </span>
            </div>
          </div>

        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 7 -->

    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CONTENT -->

</div>
