<div id="e-commerce-dashboard" class="page-layout simple fullwidth">

  <!-- CONTENT -->
  <div class="content p-24 w-100-p">

    <!-- WIDGET GROUP -->
    <div class="widget-group" fxLayout="row" fxFlex="100" fxLayoutWrap fxLayoutAlign="start start" *fuseIfOnDom [@animateStagger]="{value:'50'}">

      <!-- ALERTS BY CPU WIDGET -->
      <fuse-widget *ngIf="alertsByCpu.isReady" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">


            <mat-form-field *ngIf="alertsByCpu.timeRanges" >
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByCpu.currentTimeRange"
                (change)="alertsByCpu.onChangeTimeRange($event.value)" aria-label="Change range">
                <mat-option *ngFor="let range of alertsByCpu.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{ 'DASHBOARD.MINI_WIDGET.ALERTS_BY_PROCESOR' | translate }}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{ 'DASHBOARD.MINI_WIDGET.DEVICES' | translate }} </span>
            <span class="h4 ml-8">
              {{ alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].devicesCount }}
              {{ 'DASHBOARD.MINI_WIDGET.OF' | translate }}
              {{ totalDeviceAccout | async }} </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].topDevices">
              <!-- <p [routerLink]="[item.deviceDetailLink]" > -->
                {{item.hostname}} -- {{item.sn}} : {{item.alarmsCount}}
              <!-- </p> -->
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                <!-- [routerLink]="[alertsByCpu.timeRanges[alertsByCpu.currentTimeRange].fullDevicesListLink]" -->
              <button mat-button color="accent">
                 {{ 'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY CPU WIDGET -->

      <!-- ALERT BY RAM MEMORY -->
      <fuse-widget *ngIf="alertsByRamMemory.isReady" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngIf="alertsByRamMemory.timeRanges" >
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByRamMemory.currentTimeRange"
              aria-label="Change range" (change)="alertsByRamMemory.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByRamMemory.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{'DASHBOARD.MINI_WIDGET.ALERTS_BY_RAM' | translate}}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{ 'DASHBOARD.MINI_WIDGET.DEVICES' | translate }} </span>
            <span class="h4 ml-8">
              {{ alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].devicesCount }}
              {{ 'DASHBOARD.MINI_WIDGET.OF' | translate }}
              {{ totalDeviceAccout | async }}
            </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByRamMemory.timeRanges[alertsByRamMemory.currentTimeRange].topDevices">
              <!-- <p [routerLink]="[item.deviceDetailLink]" > -->
                {{item.hostname}} -- {{item.sn}} : {{item.alarmsCount}}
              <!-- </p> -->
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent">
                  {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERT BY RAM MEMORY -->

      <!-- ALERTS BY VOLTAGE WIDGET -->
      <fuse-widget *ngIf="alertsByVoltage.isReady" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngIf="alertsByVoltage.timeRanges"  >
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByVoltage.currentTimeRange"
                aria-label="Change range" (change)="alertsByVoltage.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByVoltage.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">{{'DASHBOARD.MINI_WIDGET.ALERTS_BY_VOLTAGE' | translate}}</div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{'DASHBOARD.MINI_WIDGET.DEVICES' | translate}} </span>
            <span class="h4 ml-8">
              {{alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].devicesCount}}
              {{ 'DASHBOARD.MINI_WIDGET.OF' | translate }}
              {{ totalDeviceAccout | async }}
             </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByVoltage.timeRanges[alertsByVoltage.currentTimeRange].topDevices">
              <!-- <p [routerLink]="[item.deviceDetailLink]" > -->
                {{item.hostname}} -- {{item.sn}} : {{item.alarmsCount}}
              <!-- </p> -->
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent">
                {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY VOLTAGE WIDGET -->

      <!-- ALERTS BY TEMPERATURE WIDGET -->
      <fuse-widget *ngIf="alertsByTemperature.isReady" [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field *ngIf="alertsByTemperature.timeRanges" >
              <mat-select class="simplified font-size-16" [(ngModel)]="alertsByTemperature.currentTimeRange"
                aria-label="Change range" (change)="alertsByTemperature.onChangeTimeRange($event.value)">
                <mat-option *ngFor="let range of alertsByTemperature.timeRanges | timeRangeKeys" [value]="range.index">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle aria-label="more">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="red-fg font-size-72 line-height-72">
              {{ alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].alarmsCount }}
            </div>
            <div class="h3 secondary-text font-weight-500">
              {{'DASHBOARD.MINI_WIDGET.ALERTS_BY_TEMPERATURE' | translate}}
            </div>
          </div>

          <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 secondary-text text-truncate"> {{'DASHBOARD.MINI_WIDGET.DEVICES' | translate}} </span>
            <span class="h4 ml-8">
              {{alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].devicesCount}}
              {{ 'DASHBOARD.MINI_WIDGET.OF' | translate }}
              {{ totalDeviceAccout | async }}
            </span>
          </div>
        </div>
        <!-- / Front -->

        <!-- Back -->
        <div class="fuse-widget-back p-16 pt-32 mat-white-bg mat-elevation-z2" fxLayoutAlign="space-between center">
          <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
            <mat-icon class="s-16">close</mat-icon>
          </button>
          <mat-list>
            <mat-list-item *ngFor="let item of alertsByTemperature.timeRanges[alertsByTemperature.currentTimeRange].topDevices">
              <!-- <p [routerLink]="[item.deviceDetailLink]" > -->
                {{item.hostname}} -- {{item.sn}}: <span><strong> {{"   "}} {{item.alarmsCount}}</strong></span>
              <!-- </p> -->
            </mat-list-item>

            <div class="card-divider full-width"></div>

            <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
              <button mat-button color="accent">
                {{'DASHBOARD.MINI_WIDGET.VIEW_COMPLETE_LIST' | translate }}
              </button>
            </div>
          </mat-list>

        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- ALERTS BY TEMPERATURE WIDGET -->

      <!-- WIDGET 8 and 9 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" >

        <!-- Front WIDGET 8 -->
        <div *ngIf="influxOfUserAdvancedPieChart.data" class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <!-- header -->
          <div class="px-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
              <!-- text on header -->
              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" fxFlex.gt-sm="95" fxLayoutWrap >
                <div class="h3 px-8 py-8">
                  <strong> {{'DASHBOARD.INFLUX_OF_USERS' | translate}} </strong>
                </div>
                <mat-form-field class="px-8 py-8">
                  <mat-select class="simplified font-size-16" [(ngModel)]="influxOfUserAdvancedPieChart.currentTimeRange"
                  (change)="influxOfUserAdvancedPieChart.onChangeTimeRange($event.value)" aria-label="Change range">
                    <mat-option *ngFor="let range of influxOfUserAdvancedPieChart.timeRanges | timeRangeKeys" [value]="range.index">
                      {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- ends text on header -->
              <!-- toggle Button -->
              <div fxLayoutAlign="end start" fxFlex="5">
                <button mat-icon-button fuseWidgetToggle aria-label="more"  >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
              <!-- end toggle Button -->
          </div>
          <!--end header -->
          <!-- chart -->
          <div class="h-420">
            <ngx-charts-advanced-pie-chart
              [results]="influxOfUserAdvancedPieChart.data"
              [label]="'DASHBOARD.TOTAL_USAGES' | translate "
              [animations]= "true"
              [scheme]="influxOfUserAdvancedPieChart.scheme" >
            </ngx-charts-advanced-pie-chart>
          </div>
          <!-- end chart -->
        </div>

        <!-- / Front -->

        <!-- Back WIDGET 9 -->
        <div *ngIf="influxOfUseGaugeChart.isReady" class="fuse-widget-back mat-white-bg mat-elevation-z2">
          <div class="px-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
            <div class="h3 px-8 py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="75">
              <strong> {{'DASHBOARD.INFLUX_OF_USERS' | translate}} </strong>
            </div>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25">
                <mat-select class="simplified font-size-16" [(ngModel)]="influxOfUseGaugeChart.currentTimeRange"
                (change)="influxOfUseGaugeChart.onChangeTimeRange($event.value)" aria-label="Change range">
                  <mat-option *ngFor="let range of influxOfUseGaugeChart.timeRanges | timeRangeKeys" [value]="range.index" >
                    {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
                <mat-icon class="s-16">close</mat-icon>
            </button>
          </div>
          <div class="h-420">
            <ngx-charts-gauge
              [results]="influxOfUseGaugeChart.timeRanges[influxOfUseGaugeChart.currentTimeRange].data"
              [legendTitle]="'DASHBOARD.TOTAL_USAGES' | translate"
              [legend]="influxOfUseGaugeChart.legend"
              [max]="influxOfUseGaugeChart.max"
              [scheme]="influxOfUseGaugeChart.scheme"
              [units]=" 'DASHBOARD.TOTAL_USAGES' | translate"
              [textValue]="influxOfUseGaugeChart.textValue"
              (select)="influxOfUseGaugeChart.toggleLegend()" >
            </ngx-charts-gauge>
          </div>
        </div>
        <!-- / Back -->

      </fuse-widget>
      <!-- WIDGET 8 and 9 -->


      <!-- WIDGET 5 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="row" fxFlex="100">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
            <div fxFlex class="py-8 h2">
              <strong style="text-align: center; float: center"> {{'DASHBOARD.DEVICES_BY_CUENCA' | translate}} </strong>
            </div>
          </div>

          <div class="h-420">
            <ngx-charts-bar-vertical-stacked *fuseIfOnDom
              [scheme]="onlineVsOfflineByGroupNameWidget.scheme"
              [results]="onlineVsOfflineByGroupNameWidget.data"
              [barPadding]= "onlineVsOfflineByGroupNameWidget.barPadding"
              [gradient]="onlineVsOfflineByGroupNameWidget.gradient"
              [xAxis]="onlineVsOfflineByGroupNameWidget.xAxis"
              [yAxis]="onlineVsOfflineByGroupNameWidget.yAxis"
              [legend]="onlineVsOfflineByGroupNameWidget.legend"
              [showXAxisLabel]="onlineVsOfflineByGroupNameWidget.showXAxisLabel"
              [showYAxisLabel]="onlineVsOfflineByGroupNameWidget.showYAxisLabel"
              [xAxisLabel]="onlineVsOfflineByGroupNameWidget.xAxisLabel"
              [yAxisLabel]="onlineVsOfflineByGroupNameWidget.yAxisLabel | translate"
              (select)="onlineVsOfflineByGroupNameWidget.onSelect($event)">
            </ngx-charts-bar-vertical-stacked>
          </div>
        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 5 -->

      <!-- WIDGET 6 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
            <div class="h3 px-8 py-8 txt-a-center" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="75">
              <strong> {{ 'DASHBOARD.USAGES_VS_ERRORS' | translate }} </strong>
            </div>
            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25" >
              <mat-select class="simplified" [(ngModel)]="successfulAndFailedTransactionWidget.currentTimeRange" (change)="successfulAndFailedTransactionWidget.onRangeChanged($event.value)" aria-label="Change range">
                <mat-option *ngFor="let range of successfulAndFailedTransactionWidget.timeRanges | keys" [value]="range.value">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="h-400">
            <canvas baseChart
              [datasets]="successfulAndFailedTransactionWidget.datasets"
              [labels]="successfulAndFailedTransactionWidget.labels"
              [colors]="successfulAndFailedTransactionWidget.colors"
              [options]="successfulAndFailedTransactionWidget.options"
              [chartType]="successfulAndFailedTransactionWidget.chartType">
            </canvas>
          </div>

          <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0"> {{ 'DASHBOARD.USAGES' | translate }} </span>
              <span class="h4"> {{ successfulAndFailedTransactionWidget.usagesCount }} </span>
            </div>

            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0">{{'DASHBOARD.ERRORS' | translate}}</span>
              <span class="h4">{{successfulAndFailedTransactionWidget.errorsCount }}</span>
            </div>
          </div>

        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 6 -->

      <!-- WIDGET 7 -->
      <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">

        <!-- Front -->
        <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
          <div class="px-16 border-bottom" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
            <div class="h3 px-8 py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <strong> {{'DASHBOARD.USAGES_VS_ERRORS_by' | translate}} </strong>
            </div>

            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25"  >
              <mat-select class="simplified" [(ngModel)]="successfulAndFailedTransactionByGroupNameWidget.currentTimeRange"
                (change)="successfulAndFailedTransactionByGroupNameWidget.onTimeRangeFilterChanged($event.value)"
                aria-label="Change range">
                <mat-option *ngFor="let range of successfulAndFailedTransactionByGroupNameWidget.timeRanges | keys" [value]="range.value">
                  {{ 'DASHBOARD.MINI_WIDGET.TIMERANGES.' + range.key | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="25" >
              <mat-select class="simplified" [(ngModel)]="successfulAndFailedTransactionByGroupNameWidget.currentCuenca"
                (change)="successfulAndFailedTransactionByGroupNameWidget.onCuencaFilterChanged($event.value)"
                aria-label="Change range">
                <mat-option *ngFor="let range of successfulAndFailedTransactionByGroupNameWidget.cuencas | keys" [value]="range.value">
                  {{ range.key }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="h-400">
            <canvas baseChart
              [datasets]="successfulAndFailedTransactionByGroupNameWidget.datasets"
              [labels]="successfulAndFailedTransactionByGroupNameWidget.labels"
              [colors]="successfulAndFailedTransactionByGroupNameWidget.colors"
              [options]="successfulAndFailedTransactionByGroupNameWidget.options"
              [chartType]="successfulAndFailedTransactionByGroupNameWidget.chartType">
            </canvas>
          </div>

          <div class="py-8 mh-16 border-top" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>

            <div class="py-8 border-right" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0"> {{ 'DASHBOARD.USAGES' | translate }} </span>
              <span class="h4"> {{ successfulAndFailedTransactionByGroupNameWidget.usagesCount }} </span>
            </div>

            <div class="py-8" fxLayout="column" fxLayoutAlign="center center" fxFlex="100" fxFlex.gt-sm="50">
              <span class="mat-display-1 mb-0">{{ 'DASHBOARD.ERRORS' | translate }}</span>
              <span class="h4"> {{ successfulAndFailedTransactionByGroupNameWidget.errorsCount }} </span>
            </div>
          </div>

        </div>
        <!-- / Front -->

      </fuse-widget>
      <!-- / WIDGET 7 -->

    </div>
    <!-- / WIDGET GROUP -->
  </div>
  <!-- / CONTENT -->

</div>
